*, *:after, *:before {
  box-sizing: border-box;
}

body {
  background-color: #F4FCFE;
  padding: 25px;

  font-family: 'Ubuntu', 'Arial';
}

.example-container {
  width: 100%;
  max-width: 480px;
}

.examples {
  display: flex;
}
